/* position: static; no special way, according to flow  */
/* position: relative; relative to its normal position  */
/* position: fixed; relative to its normal position  	*/
/* 							*/
/* 							*/
/* 							*/
/* 							*/
/* 							*/

body {
   background-color: lightblue;
}

/*h1 {
   font-size: 110px;
   text-align: center;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 17px;
    
}

/* Change link color on hover */
li a:hover {
    background-color: white;
    color: black;
    
}

/* Main header text "LA BICI REVOLUCIOM" */
.heading {
   text-align: center;
   font-size: 140px;
   top: 10px;
   /*padding: -10px;*/
   font-weight: 900;
}

/* Secondary text "Be sovereing, use your bike!" */
.heading2 {
   text-align: center;
   font-size: 40px;
   font-family: monospace;
   /*top: -30px;*/
   align: center;
   padding: -10%;

}

.active {
    background-color: lightblue;
    color: black;
}
